@using Microsoft.AspNet.Identity
@model SocialTrainingWebApp.Models.LoggedInUserData

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a style="pointer-events: none;cursor: default;"> @(String.Format("Hello, {0}!", Model.LoggedInUser))</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="vismaicon vismaicon-menu vismaicon-logout icon-adjust"></a></li>
        </ul>
    }
}