@using Microsoft.AspNet.Identity
@using SocialTrainingWebApp.Models
@model SocialTrainingWebApp.Models.LoggedInUserData

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right nav-pane-adjust" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav nav-tabs navbar-right first-level navbar-header-adjust">
            <li class="margin-right padding-right navbar-header-adjust">
                <span class="vismaicon vismaicon-menu vismaicon-user icon-adjust navbar-user-icon-adjust" aria-hidden="true"></span>
            </li>
            <li class="margin-right padding-right">
                <div class="row">
                    <text class="logged-in-user-formatted"> @(String.Format("Hello, {0}!", Model.LoggedInUser))</text>
                </div>
                @Html.Partial("_ProgressBarPartial", new ProgressBar())
            </li>
            <li class="margin-left-xs"><a href="javascript:document.getElementById('logoutForm').submit()" class="vismaicon vismaicon-menu vismaicon-logout icon-adjust"></a></li>
        </ul>
    }
}