@using Microsoft.AspNet.Identity
@using SocialTrainingWebApp.Models
@model SocialTrainingWebApp.Models.LoggedInUserData

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right nav-pane-adjust" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav nav-tabs navbar-right first-level">
            <li class="margin-right padding-right">
                <span class="vismaicon vismaicon-menu vismaicon-user icon-adjust" style="border-right: 1px solid #1a85c3;" aria-hidden="true"></span>
            </li>
            <li class="margin-right padding-right">
                <div class="row">
                    <a style="pointer-events: none;cursor: default; color:#fff;"> @(String.Format("Hello, {0}!", Model.LoggedInUser))</a>
                </div>
                @Html.Partial("_ProgressBarPartial", new ProgressBar());
            </li>
            <li class=""><a href="javascript:document.getElementById('logoutForm').submit()" class="vismaicon vismaicon-menu vismaicon-logout icon-adjust"></a></li>
        </ul>
    }
}