@model SocialTrainingWebApp.Models.ProgressBar
<div class="row margin-right">
    <div style="margin-top:5px; border: 1px solid #fff;border-radius: 6px;">
        <div class="progress progress-xs" style="margin-bottom:0; background: #0079bf">
            <div class="progress-bar progress-bar-success progress-bar-adjust" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="border: 2px solid #0079bf;width:@Model._percentageString">
                <span class="percentage" style="color:#fff">@Model._percentageString</span>
            </div>
        </div>
    </div>
</div>