
@{
    ViewBag.Title = "Congratulations";
    Scripts.Render("~/bundle/jquery");
}

<div class="container">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row ">
                <div class="col-md-5 col-md-offset-3-5 col-sm-5 col-sm-offset-3-5 col-xs-5 col-xs-offset-3-5">
                    <div class="login-box">
                        <div class="login-content">
                        </div>
                        <div class="login-footer"><a class="logo-footer">Visma</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>