@using System.Linq;
@{
    ViewBag.Title = "Home Page";
}

@model SocialTrainingWebApp.Models.ChosenEmployees

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 0 0 0 0">
            <div style="height:auto;overflow:hidden">
                <div class="col-xs-6" style="float:right;transform: translateY(60%)">
                    <form id="guessingForm" action="">
                        @{int i = 0; }
                        @foreach (var item in Model._employeeTriad)
                        {
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="@i">@item.FullName
                                </label>
                            </div>
                            i++;
                        }
                        <ul class="padding-top nav nav-pills">
                            <li><a href="#">Choose this option</a></li>
                        </ul>
                    </form>
                </div>
                <div style="float:none;width:auto;overflow:hidden">
                    @{
                        <a><img src="~/MockImages/@Model._chosenEmployeeImageId" style="border:none" /></a>
                    }

                </div>

            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/checkAnswers")
<script type="text/javascript">
    function redirect(button) {
        window.location.href = '@Url.Action("Index", "Home")';
    }
</script>