<div class="container fit-container">
    <div class="row vertical-center-row">
        <div class="row ">
            <div class="col-lg-5 col-lg-offset-3-5 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <div class="panel panel-default congratulations-panel-fixed-min-width">
                    <div class="panel-body" style="text-align:center">
                        <h2 style="border-bottom:none; text-align:center">Wrong Login!</h2>
                        <text>You have to log in using Your VISMA account</text>
                        <div class="col-xs-11 col-xs-offset-0-5 col-sm-9 col-sm-offset-1-5">
                            <button type="submit" onclick="location.href='@Url.Action("Login", "Account")'" id="RegisterEmail" name="provider" value="Return to Login" class="margin-top btn-block bttn-jelly bttn-sm bttn-primary login-btn">Return to Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

