<!DOCTYPE html>

<html>
<head>
    <title>Get Google+ Token</title>
    <script type="text/javascript" src="~/Scripts/token.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</head>
<body>
@{
    var GoogleClientId = System.Configuration.ConfigurationManager.AppSettings["GoogleClientId"];
    var GoogleApiKey = System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"];
}
    <div>
        <label for="client-id">Client ID: </label>
        <input type="text" id="client-id" value="@GoogleClientId" />
    </div>
    <div>
        <label for="api-key">API Key: </label>
        <input type="text" id="api-key" value="@GoogleApiKey" />
    </div>
    <div>
        <button id="signin">Sign in!</button>
        <button id="signout">Sign out.</button>
    </div>
</body>
</html>
